@charset 'UTF-8';

@use '../../node_modules/swiper/swiper-bundle.css';

// 変数のテスト
$fontColor: #5d5d5d;

// メディアクエリ用ブレイクポイント
$sm: 768px;
$md: 1025px;
$lg: 1601px;
@mixin media($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}


html {
  font-size: 62.5%; // 16px * 62.5% = 10px(= 1rem)
  line-height: 1;
}

body {
  font-feature-settings: 'palt';
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

dl,
dt,
dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 0;
  font-weight: inherit;
}

td {
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-weight: inherit;
  line-height: inherit;
}

button,
input,
select,
textarea {
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

input[type='email'],
input[type='submit'],
input[type='text'],
textarea {
  border-radius: 0; // for Safari and Chrome on iOS
}

input[type='submit'] {
  background: transparent; // for Chrome on Android
}

select {
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

figure {
  margin: 0;
}

body{
  margin: 0;
}

.header{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 80px 52px 40px;
  font-size: 15px;
  line-height: 2;
  letter-spacing: .1em;
  color: $fontColor;
  font-family: YuGothic, sans-serif;
  overflow-y: auto;
  text-align: center;
  box-sizing: border-box;
  background: #ddd;
  z-index: 3;
  @include media($sm) {
    max-width: 300px;
    height: 100%;
    left: auto;
  }  
}

.header[aria-hidden=true]{
  visibility: hidden;
  opacity: 0;
  transition: opacity .6s ease,visibility 0s .6s; 
}

.header[aria-hidden=false]{
  transition: opacity .6s ease;
}

.header__inner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.header__logo{
  font-size: 13px;
  letter-spacing: .1em;
  color: $fontColor;
  font-family: YuGothic, sans-serif;
}

.header__button {
  position: relative;
  width: 23px;
  height: 23px;
  z-index: 4;
}

.header__button::after,
.header__button::before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  width: 100%;
  height: 1px;
  background: #5d5d5d;
  transition: transform 0.8s ease;
  .header__inner--transparent & {
    background: #fff;
  }
}

.header__button[aria-expanded='false']::before {
  transform: translateY(-50%) translateY(5.5px);
}

.header__button[aria-expanded='false']::after {
  transform: translateY(-50%) translateY(-5.5px);
}

.header__button[aria-expanded='true']::before {
  transform: translateY(-50%) rotate(45deg);
  background: #5d5d5d;
}

.header__button[aria-expanded='true']::after {
  transform: translateY(-50%) rotate(-45deg);
  background: #5d5d5d;
}


.header ul li::marker{
  content: '';
}

.header ul{
  padding: 0;
}

.header__list a{
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  font-family: YuGothic, sans-serif;
  font-size: 12px;
  letter-spacing: .025em;
  text-align: center;
  color: $fontColor;
  text-decoration: none;
  transition: opacity .8s ease-out;
}

.header__list a::after{
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #393939;
  transition: all .6s;
}  

.header__list a:hover{
  &::after{
    width: 35%;
  }  
}

.c-box{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.c-box + .c-box{
  margin-top: 80px;
}

.c-title {
  position: relative;
  margin: 20px 0;
  padding: 10px 5%;
  color: $fontColor;
  font-size: 15px;
  line-height: 2;
  font-family: YuGothic, sans-serif;
  letter-spacing: .1em;
}

.c-title::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
}

h2 {
  color: $fontColor;
  font-family: YuGothic, sans-serif;
  font-size: 12px;
}

.c-box p{
  margin: 0;
  font-size: 12px;
  color: #393939;
  font-family: YuGothic, sans-serif;
}

.c-caution{
  padding-top: 10px;
  font-size: 10px;
  color: #7d7d7d;
  font-family: YuGothic, sans-serif;
}

.c-box__inner{
  padding: 0 5% 
}

.c-box.about{
  margin-top: 100px;
}

.image{
  margin: 0 auto 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit:cover",'object-fit:cover';
}

.about__inner{
  line-height: 2;
}

.about__inner h2{
  margin-bottom: 10px;
  letter-spacing: .05em;
}

.about__inner p{
  line-height: 2;
}

.c-box ul li{
  position: relative;
  margin-top: 10px;
  line-height: 2;
}

.c-box ul li + li{
  margin-top: 10px;
}

.c-box ul li::marker{
  content: '・';
}

.works__listItem{
  display: flex;
  justify-content: space-between;
}

.listItem__link{
  color: #5d5d5d;
  letter-spacing: .05em;
  border-bottom: 1px solid #7d7d7d;
  transition: all .6s;
}

.listItem__link:hover{
  border-bottom: 1px solid #fff;
}

.contact__button{
  margin: 40px 8%;
}

.button__item{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-family: YuGothic, sans-serif;
  font-size: 12px;
  letter-spacing: .025em;
  text-align: center;
  color: #fff;
  background-color: #7d7d7d;
  text-decoration: none;
  box-sizing: border-box;
  transition: all .8s ease-out;
}

.button__item:hover{
  background-color: #5d5d5d;
}

.c-box.contact{
  margin-bottom: 100px;
}

.swiper-button-prev, .swiper-button-next{
  display: none;
  top: auto;
  bottom: 10px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
  content: '';
  width: 8px;
  height: 8px;
  margin-top: -5px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(45deg);
  top: 50%;
  right: -20px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after{
  content: '';
  width: 8px;
  height: 8px;
  margin-top: -5px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
  transform: rotate(225deg);
  top: 50%;
  right: -20px;
}


.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 3px;
  width: 70px;
  height: 1px;
  background-color: #ddd;
  border-radius: unset;
  transition: all .7s ease-out;
}

.swiper-pagination-bullet-active{
  background-color: #fff;
}

.fadein{
  opacity: 0;
  transform: translateY(60px);
}

.active {
  opacity: 1;
  transition: 1.2s;
  transform: translateY(0);
  transition-delay: .5s;
}
